<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgDBConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=UrgDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.DbUrgenciasConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=DbUrgencias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.DbUrgenciasSqlServerConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=DbUrgenciasSqlServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.DbUrgConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=DbUrg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgenciasDBConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=UrgenciasDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgenciasSQLConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=UrgenciasSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgenciasSqlServerConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=UrgenciasSqlServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.SqlServerUrgenciasConexion"
            connectionString="Data Source=DESKTOP-FCH0C7S;Initial Catalog=SqlServerUrgencias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.SqlServerUrgenciasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SqlServerUrgencias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgenciasSqlConnectionString"
            connectionString="Data Source=DESKTOP-D8TLHID;Initial Catalog=UrgenciasSql;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaUrgencia_v2._0.Properties.Settings.UrgSqlServerConnectionString"
            connectionString="Data Source=DESKTOP-D8TLHID;Initial Catalog=UrgSqlServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>